
@{
    ViewData["Title"] = "Detail";
}
@model Slider

<h3>Title1<span>@Model.Title1</span></h3>
<h3>Title2<span>@Model.Title2</span></h3>
<h3>Description<span>@Model.Description</span></h3>
<h3>Image<span>@(Html.Raw(Model.Title1))</span></h3>