
@{
    ViewData["Title"] = "Edit";
}
@model Slider
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider</h4>
            <p class="card-description">
                Edit SLider
            </p>
            <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title1"></label>
                    <input asp-for="Title1" class="form-control" placeholder="Title1">
                    <span asp-validation-for="Title1"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title2"></label>
                    <input asp-for="Title2" class="form-control" placeholder="Title2">
                    <span asp-validation-for="Title2"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control" placeholder="Image">
                    <span asp-validation-for="Image"></span>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

