
@{
    ViewData["Title"] = "Create";
}
@model Product
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product</h4>
            <p class="card-description">
                Create Product
            </p>
            <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group" >
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SellPrice">SellPrice</label>
                    <input asp-for="SellPrice" class="form-control" placeholder="Logo">
                    <span asp-validation-for="SellPrice"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CostPrice">Costprice</label>
                    <input asp-for="CostPrice" class="form-control" placeholder="Image">
                    <span asp-validation-for="CostPrice"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating">Rating</label>
                    <input asp-for="Rating" class="form-control" placeholder="Image">
                    <span asp-validation-for="Rating"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockCount">StokCount</label>
                    <input asp-for="StockCount" class="form-control" placeholder="Image">
                    <span asp-validation-for="StockCount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount">DisCount</label>
                    <input asp-for="Discount" class="form-control" placeholder="Image">
                    <span asp-validation-for="Discount"></span>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
