
@{
    ViewData["Title"] = "Create";
}
@model ProductImage
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider</h4>
            <p class="card-description">
                Create SLider
            </p>
            <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control" placeholder="Image">
                    <span asp-validation-for="Image"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsFront"></label>
                    <input asp-for="IsFront" class="form-control" placeholder="IsFront">
                    <span asp-validation-for="IsFront"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsBack"></label>
                    <input asp-for="IsBack" class="form-control" placeholder="IsBack">
                    <span asp-validation-for="IsBack"></span>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>


