
@{
    ViewData["Title"] = "Detail";
}
@model ProductImage

<h3>Image: <span>@(Html.Raw(Model.Image))</span></h3>
<h3>IsFront: <span>@Model.IsFront</span></h3>
<h3>IsBack: <span>@Model.IsBack</span></h3>